<?xml version="1.0" encoding="UTF-8"?>
<included>
	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>

	<appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="net.logstash.logback.encoder.LogstashEncoder">
			<throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
				<maxDepthPerThrowable>30</maxDepthPerThrowable>
				<exclude>java\.util\.concurrent\..*</exclude>
				<exclude>org\.apache\.tomcat\..*</exclude>
				<exclude>org\.apache\.coyote\..*</exclude>
				<exclude>org\.apache\.catalina\..*</exclude>
				<exclude>org\.springframework\.web\..*</exclude>
				<exclude>sun\.net\.www\..*</exclude>
			</throwableConverter>
		</encoder>
	</appender>

	<appender name="team-logs" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
		<destination>team-logs.nais-system:5170</destination>
		<encoder class="net.logstash.logback.encoder.LogstashEncoder">
			<customFields>{"google_cloud_project":"${GOOGLE_CLOUD_PROJECT}","nais_namespace_name":"${NAIS_NAMESPACE}","nais_pod_name":"${HOSTNAME}","nais_container_name":"${NAIS_APP_NAME}"}</customFields>
			<includeContext>false</includeContext>
		</encoder>
	</appender>

	<!--
 	Timestamp blir generert av appenderen.
 	Eksempel: 2019-06-07T07:21:20+02:00 <pod_navn> safselvbetjening_audit: message
 	-->
	<appender name="auditLog" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
		<destination>audit.nais:6514</destination>
		<writeBufferSize>128000</writeBufferSize>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>${HOSTNAME} safselvbetjening_audit: %m%n</pattern>
		</encoder>
	</appender>

	<logger level="INFO" name="auditLog" additivity="false">
		<appender-ref ref="auditLog"/>
	</logger>

	<root level="WARN">
		<appender-ref ref="stdout_json"/>
	</root>

	<logger name="no.nav.safselvbetjening" level="INFO" additivity="false">
		<appender-ref ref="stdout_json"/>
	</logger>
	<logger name="secureLog" level="INFO" additivity="false">
		<appender-ref ref="team-logs"/>
	</logger>
</included>